html, body {
  margin: 0;
  padding: 0;
}
  /* display: block; */
body {
  textSize(14);
  textAlign(CENTER);
	font-family: "apercu";
  margin: 100px auto 0 auto;
	width:50%



}
canvas {
  margin:auto;
   top: 0;
   left: 0;
   position: absolute;
   z-index: -1;
}
